.App {
  text-align: center;
}

.pet-logo {
  width: 150px;
}

/* easy, halfway-decent navbar: */
.Navbar {
  display: grid;

  /* however many items you have in your navbar, 
  the first number in "repeat(num, fr)" should match the number of items.
  so if you have 5 items in your navbar, it should read: "repeat(5, 1fr)" */
  grid-template-columns: repeat(3, 1fr);

  text-align: center;
  align-items: center;
  margin: 20px;
}
